body {
  padding: 0;
  margin: 30px;
  font-family: Helvetica Neue;
  font-size: 14px;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  margin: 10px 0;
}

textarea {
  font-family: Helvetica Neue;
  font-size: 14px;
  resize: none;
}

a {
  color: #2f69c6;
}

a.compose {
  text-decoration: none;
}

div.left-panel {
  float: left;
  width: 12%;
}

div.right-panel {
  float: left;
  width: 88%;
}

span.primary-note {
  color: #000;
}

span.secondary-note {
  color: #aaa;
}

ul.task {
  list-style-type: none;
  margin: 0;
}

ul.task ul {
  list-style-type: square;
  margin: 0 0 0 20px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
}

ul.nav ul {
  list-style-type: square;
  margin: 0 0 0 20px;
}
