body {
  padding: 0;
  margin: 20px 30px;
  font-family: Helvetica Neue;
  font-size: 14px;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  margin: 10px 0;
}

form textarea {
  font-family: Helvetica Neue;
  font-size: 14px;
  resize: none;
}

form input[type="text"] {
  font-family: Helvetica Neue;
  font-size: 14px;
}

form input[type="text"].size-long {
  width: 500px;
}

form input[type="text"].size-medium {
  width: 250px;
}

form input[type="button"] {
  -webkit-appearance: none; /* http://bit.ly/2pw2gl3 */
  -moz-appearance: none;
  appearance: none;
  font-family: Helvetica Neue;
  font-size: 14px;
  padding: 4px 10px;
  background: #eee;
}

div.form-buttons {
  width: 580px;
  -moz-column-count: 2;
  -moz-column-gap: 50%;
  -webkit-column-count: 2;
  -webkit-column-gap: 50%;
  column-count: 2;
  column-gap: 50%;
}

div.form-buttons div.secondary {
  text-align: right;
}

form div.field-value {
  margin-bottom: 10px;
}

a {
  color: #2f69c6;
}

a.compose {
  text-decoration: none;
}

div.left-panel {
  float: left;
  width: 12%;
}

div.right-panel {
  float: left;
  width: 88%;
}

span.primary-note {
  color: #000;
}

span.secondary-note {
  color: #aaa;
}

ul.task {
  list-style-type: none;
  margin: 0;
}

ul.task ul {
  list-style-type: square;
  margin: 0 0 0 20px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
}

ul.nav ul {
  list-style-type: none;
  margin: 0 0 0 10px;
}
