{% extends "base.html" %}
{% block scripts %}
  <script
    type="text/javascript"
    src="{{ static_url("compose.js") }}"
    defer></script>
{% end %}
{% block body %}
  <form name="form" action="/compose" method="post">

    <div class="field-name">Text:</div>
    <div class="field-value">
      <textarea
        name="message"
        rows="7"
        cols="80"
        maxlength="1024"
        autofocus>{{ text }}</textarea>
    </div>

    <div class="field-name">People:</div>
    <div class="field-value">
      <input type="text" class="size-long" name="people" value="{{ people }}">
    </div>

    <div class="field-name">Task:</div>
    <div class="field-value">
      <input type="text" class="size-medium" name="task" value="{{ task }}">
    </div>

    <div class="field-name">Quip:</div>
    <div class="field-value">
      <input type="text" class="size-medium" name="quip" value="{{ quip }}">
    </div>

    <input type="hidden" name="tags" value="{{ tags_string }}">
    <input type="hidden" name="referer" value="{{ referer }}">

    <div class="form-buttons">
      <div class="primary">
        <input id="save-button" type="button" value="Save">
        {% if note %}
          {% if "archived" in note %}
            <input
              id="unarchive-button"
              data-note-id="{{ note["note_id"] }}"
              data-referer="{{ referer }}"
              type="button"
            />
          {% else %}
            <input
              id="archive-button"
              data-note-id="{{ note["note_id"] }}"
              data-referer="{{ referer }}"
              type="button"
            />
          {% end %}
        {% end %}
      </div>
      <div class="secondary">
        <input
          id="cancel-button"
          type="button"
          data-referer="{{ referer }}"
          value="Cancel"
        />
      </div>
    </div>

  </form>
{% end %}
