{% import htmlutil %}
{% set highlight = htmlutil.ActiveLinkHighlight(request.path) %}
{% set today = datetime.date.today() %}
{% set week_start = (today - datetime.timedelta(days=today.weekday())).isoformat() %}
<ul class="nav">
  <li>{% raw htmlutil.get_compose_link(tags=compose_tags) %}</li>
  <li><a href="/">{% raw highlight.apply("/", "All") %}</a></li>
  <li><a href="/time/{{ week_start }}">{% raw highlight.apply("/time/" + week_start, "Week") %}</a></li>
  {% if people %}
    <li>People
      <ul>
        {% for person in people %}
          {% set path = "/people/" + person %}
          <li><a href="{{ path }}">{% raw highlight.apply(path, person) %}</a></li>
        {% end %}
      </ul>
    <li>
  {% end %}
  {% if projects %}
    <li>Projects
      <ul>
        {% for project in projects %}
          {% set path = "/projects/" + project %}
          <li><a href="{{ path }}">{% raw highlight.apply(path, project) %}</a></li>
        {% end %}
      </ul>
    <li>
  {% end %}
</ul>
