{% import htmlutil %}
<span class="{{ note["css_class"] }}">{{ note["message"] }}</span>
{% if "task" in note %}
  &bull;&nbsp;{% raw htmlutil.get_task_link(note["task"]) %}
{% end %}
{% if "quip" in note %}
  &bull;&nbsp;{% raw htmlutil.get_quip_link(note["quip"]) %}
{% end %}
&bull;
{% raw htmlutil.get_compose_link(
  tags={"note_id": note["note_id"]},
  content="Edit",
  referer=request.path,
) %}
<ul>
  {% for subnote in note.get("children", []) %}
    <li>
      <span class="{{ subnote["css_class"] }}">
        {{ htmlutil.format_datetime(subnote["created"]) }}
        {{ subnote["message"] }}
      </span>
      {% if "task" in subnote %}
        {% raw htmlutil.get_task_link(subnote["task"]) %}
      {% end %}
      &bull;
      {% raw htmlutil.get_compose_link(
        tags={"note_id": subnote["note_id"]},
        content="Edit",
        referer=request.path,
      ) %}
    </li>
  {% end %}
  <li>
    {% raw htmlutil.get_compose_link(
      tags={"parent_id": note["note_id"]},
      referer=request.path,
    ) %}
  </li>
</ul>
