{% extends "base.html" %}
{% block body %}
  {% if notes %}
    <ul class="task">
    {% for note in notes %}
      <li>
        <span class="{{ note["css_class"] }}">{{ note["message"] }}</span>
        {% if "task" in note %}
          {% raw htmlutil.get_task_link(note["task"]) %}
        {% end %}
        &nbsp;-
        {% raw htmlutil.get_compose_link("Edit", note_id=note["note_id"]) %}&nbsp;-
        {% raw htmlutil.get_compose_link("Comment", parent_id=note["note_id"]) %}
        {% if "children" in note %}
          <ul>
          {% for subnote in note["children"] %}
            <li>
              <span class="{{ subnote["css_class"] }}">
                {{ htmlutil.get_last_modified_string(subnote) }}&nbsp;-
                {{ subnote["message"] }}
              </span>&nbsp;-
              {% raw htmlutil.get_compose_link("Edit", note_id=subnote["note_id"]) %}
            </li>
          {% end %}
          </ul>
        {% end %}
      </li>
    {% end %}
    </ul>
  {% end %}
{% end %}
