{% extends "base.html" %}
{% block body %}
  <ul class="task">
  {% for date, notes in notes_by_date %}
    <li>
      <span>
        {% if date.date() == datetime.date.today() %}<b>{% end %}
        {{ htmlutil.format_datetime(date) }}
        {% if date.date() == datetime.date.today() %}</b>{% end %}
      </span>
      <ul>
      {% if notes %}
        {% for note in notes %}
          <li>{% module Note(note=note) %}</li>
        {% end %}
      {% else %}
        <li><span class="secondary-note"><i>None</i></span></li>
      {% end %}
      </ul>
    </li>
  {% end %}
  </ul>
{% end %}
